h1,div{
    text-align: center;
}
h1{background-color: blue; }
div{background-color: yellow;
padding: 50px;}
.content-block{background-color: yellow;
    /* margin: 50px;
    margin-top: 150px;
    margin-right: 5px;
margin-bottom: 50px;
margin-left: 120px; */
/* margin: 50px 100px; */
margin: 50px auto;
width: 500px;

}
a,button{
    padding: 50px;
    background-color: blueviolet;
    width: 500px;
    height: 100px;
    display: inline-block;
}