h1 {
    background-color: hsla(143, 84%, 34%, 0.701);
    color: white;
}
p { background-color: rgb(36, 17, 97);
    color: white;

}
h3, h4,h5 
    {
        background-color: tomato;
        color: white;
    }
    span { background-color: royalblue;
    color: yellow;}
    p span { background-color: orange;
        color: black; text-transform: none;}
        
      
            p span {background-color: orange;
            color: rgb(173, 15, 15);}


            * { text-transform: uppercase;}


            #bottom {background-color: red;
            color: black;}

            .style-text { font-size: 25px;
            background-color: turquoise;color:white;}
              

.text-decor{ 
    text-transform: uppercase;
    font-style: italic;
}

.style-text.text-decor{
    border: 4px solid black;
}

.green-button{
    background-color: green;
    color: white;
}


div.style-text{
    padding: 100px;;
}

.user-button{
    background-color:yellow;
    color: white;
}
.user-button:hover{
    background-color: blue;
    color: yellow;
}

li{
    background-color: gray;
    color: white;
}
/* .first-element{background-color: black;
}
.third-element{background-color: red;
} */

.product-list li:first-child{
    background-color: black;
}

.product-list li:last-child{
    background-color: red;
}

.product-list li:nth-child(3){
    background-color: purple;
}

.product-list li:nth-child(4){
    background-color: blue;
}

a[target="_blank"]{
    background-color: yellow;
    color: black;
}